[build]
  publish = "frontend"

# Cache statis aman
[[headers]]
  for = "/*.js"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.css"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

# PWA: SW jangan di-cache keras
[[headers]]
  for = "/service-worker.js"
  [headers.values]
    Cache-Control = "no-cache"
